body{
    background-size: cover;
}
#mealList{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 30px;

}
.meal-name{
    width: 250px;
    border-radius: 30px;
    text-align: center;
}
.card-body{
    background-color: white;
}
.center-image{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
}
.mealDetail{
    border-radius: 20px;
}
ul {
    list-style: none;
    padding-left: 0%;
}

ul li:before {
    content:'✔';
}